body {
  background: #f8e8a6;
}
h1,
p {
  text-align: center;
}

.center-link {
  text-align: center;
}
.center-link a {
  padding: 15px;
  color: #a52a2a;
  text-decoration: none;
}
.center-link a:hover {
  color: #6a9904;
  text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  display: block;
  margin: 20px auto;
}
